<footer class="ui vertical segment">
  <div class="ui container">
    <div class="ui two column middle aligned centered grid">
      <div class="row">
        <div class="one wide column">
          <a href="{{ site.baseurl }}/feed.xml">
            <i class="ui large circular inverted faded rss icon"></i>
          </a>
        </div>

        {% if site.twitter_username %}
        <div class="one wide column">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="ui large circular inverted faded twitter icon"></i>
          </a>
        </div>
        {% endif %}

        {% if site.github_username %}
        <div class="one wide column">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="ui large circular inverted faded github icon"></i>
          </a>
        </div>
        {% endif %}

        {% if site.linkedin_username %}
        <div class="one wide column">
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">
            <i class="ui large circular inverted faded linkedin icon"></i>
          </a>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <small>
          Copyright &copy; {{ site.title }} 2014&dash;{{ site.time | date: '%Y' }}
        </small>
      </div>
  </div>
</footer>
