<footer class="ui vertical segment">
  <div class="ui container">
    <div class="ui two column middle aligned centered grid">
      <div class="row">
        <div class="one wide column">
          <a href="{{ site.baseurl }}/feed.xml">
            <i class="ui large circular inverted faded rss icon"></i>
          </a>
        </div>

        {% if site.twitter_username %}
        <div class="one wide column">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="ui large circular inverted faded twitter icon"></i>
          </a>
        </div>
        {% endif %}

        {% if site.facebook_username %}
        <div class="one wide column">
          <a href="https://www.facebook.com/{{ site.facebook_username }}">
            <i class="ui large circular inverted faded facebook icon"></i>
          </a>
        </div>
        {% endif %}

        {% if site.github_username %}
        <div class="one wide column">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="ui large circular inverted faded github icon"></i>
          </a>
        </div>
        {% endif %}

        {% if site.googleplus_username %}
        <div class="one wide column">
          <a href="https://plus.google.com/+{{ site.googleplus_username }}">
            <i class="ui large circular inverted faded google plus icon"></i>
          </a>
        </div>
        {% endif %}

        {% if site.linkedin_username %}
        <div class="one wide column">
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">
            <i class="ui large circular inverted faded linkedin icon"></i>
          </a>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <small>
          Copyright &copy; {{ site.title }} 2014&dash;{{ site.time | date: '%Y' }}
        </small>
      </div>
  </div>
</footer>

<!-- Google Analytics -->
{% if site.google_analytics_tracking_id %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>

<!-- Recaptcha -->
<script src='https://www.google.com/recaptcha/api.js'></script>

{% endif %}
