<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if site.twitter_username %}
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  {% endif %}

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  <meta name="description" content="{{ site.description }}">
  <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Favicon -->
  <link href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" rel="icon">

  <!-- Pygments Github CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">

  <!-- Custom Fonts -->
  <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
  <script type="text/javascript">
      window.cookieconsent_options = {"message":"This website uses cookies, like almost every other website out there.","dismiss":"Got it!","learnMore":"More info","link":"http://cookies.insites.com/","theme":"light-bottom"};
  </script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/semantic/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}/static/semantic/semantic.min.js"></script>
</head>

<body class="pushable">
  {% include nav.html %}
  <div class="pusher">
    {{ content }}
    {% include footer.html %}
  </div>
</body>

</html>
